<div class="user">
  Signed in as {{user.displayName}}.
  <button md-button
          class="user__sign-out"
          (click)="signOut()">Sign out</button>
</div>

<div>
  <md-form-field class="new-todo-field">
    <input mdInput
           type="text"
           placeholder="New To-Do.."
           [(ngModel)]="newTodoTitle"
           (keyup.enter)="createTodo()">
  </md-form-field>
</div>

<md-list>
  <app-todo *ngFor="let todo of todos; trackBy: trackByTodos"
            [item]="todo"
            (updateRequest)="updateTodo(todo, $event)"
            (deleteRequest)="deleteTodo(todo)"></app-todo>
</md-list>
