<div class="user">
  Signed in as {{user ? user.displayName : 'Anonymous'}}.
  <button mat-button
          class="user__sign-out"
          (click)="signOut()">Sign out</button>
</div>

<div>
  <mat-form-field class="new-todo-field">
    <input matInput
           type="text"
           placeholder="New To-Do.."
           [(ngModel)]="newTodoTitle"
           (keyup.enter)="createTodo()">
  </mat-form-field>
</div>

<mat-list>
  <app-todo *ngFor="let todo of todos; trackBy: trackByTodos"
            [item]="todo"
            (updateRequest)="updateTodo(todo, $event)"
            (deleteRequest)="deleteTodo(todo)"></app-todo>
</mat-list>
