<mat-list-item>

  <span mat-line
        *ngIf="!editMode; else titleInput"
        (click)="onTitleClick()">{{item.title}}</span>

  <ng-template #titleInput>
    <mat-form-field class="title-input">
      <input matInput
             type="text"
             [(ngModel)]="editableTitle"
             (keyup.enter)="update()"
             (blur)="onTitleInputBlur()">
    </mat-form-field>
  </ng-template>

  <button mat-icon-button
          (click)="delete()"
          [disabled]="editMode">
    <mat-icon class="md-24">done</mat-icon>
  </button>

</mat-list-item>
